/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* prettier-ignore */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* prettier-ignore */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Nunito Sans", sans-serif;
  height: 100%;
  width: 100%;
  /* color: #03256cff; */
  /* background-color: #fceb9dff; */
  color: #374151;

  background-color: #fbe9d2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

h1 {
  font-family: "Nunito", serif;
  font-weight: 900;
  font-style: italic;
  font-size: 2.2rem;
}

h2 {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.2rem;
  margin: 0.5rem 0;
  font-weight: 800;
}

h3 {
  font-size: 1.1rem;
}

h1,
h2,
h3,
p {
  padding: 0.2rem;
}

h3 {
  font-weight: 600;
}

input {
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0);
  /* border: #03256cff solid 5px; */
  /* color: #03256cff; */
  border: #f87171 solid 4px;
  color: #374151;
  border-radius: 6px;
  padding: 5px;
}

input:focus {
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  /* background-color: rgba(0, 0, 0, 0); */
  cursor: pointer;
  /* border: 5px solid #03256cff;
  color: #03256cff; */
  border: #f87171 solid 4px;
  background-color: #f87171;
  color: #fbe9d2;
  transition: background-color 0.2s, color 0.2s;
}

button:hover {
  color: #f87171;
  background-color: #fbe9d2;
}

/* button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
  transition: none;
}

button:disabled:hover {
  color: initial;
  background-color: initial;
}

.card,
.discard-pile {
  width: 48px;
  height: 70px;
  margin: 0.25rem;
}

.card-content-container {
  margin-top: 0.2rem;
}

.hidden-history {
  margin-left: -60px;
  transition: margin-left 0.3s;
}

.selected {
  outline: 3px solid rgb(0, 255, 255);
}

.clickable:hover {
  outline: 3px solid rgb(0, 255, 255);
}

.red {
  color: red;
}

.discard-pile,
.black {
  color: black;
}

.joker {
  color: #f87171;
  font-weight: 800;
  font-size: 1.1rem;
}

.card {
  transition: margin-left 0.3s;
  background-color: rgb(254, 236, 236);
  border-width: 4px;
  border-style: solid;
  border-color: rgb(254, 236, 236);
  display: flex;
  justify-content: flex-end;
  box-shadow: -8px 8px 5px 0px rgba(0, 0, 0, 0.75), 0 0 0 1px black;
}

.hidden {
  border-color: beige;
  background: var(--card-back, url("/assets/card-back-1.png"));
  background-size: cover;
}

.card,
.hidden,
.revealed,
.discard-pile {
  border-radius: 6px;
}

.clickable {
  cursor: pointer;
}

table {
  margin: 0.5rem 0;
}

th,
td {
  padding: 10px 15px;
  text-align: left;
  border: 2px solid #f87171;
}

th {
  background-color: #374151;
  color: #fbe9d2;
}

.error {
  color: red;
  position: absolute;
  font-size: 0.875rem;
  margin-top: 0.5rem;
}

.left-of-current-record {
  transform: translateX(-80px); /* Overlap to the left */
  z-index: 2;
}

.right-of-current-record {
  transform: translateX(80px); /* Overlap to the right */
  z-index: 1;
}

.current-record {
  transform: translateX(0);
  z-index: 3;
  animation: focus 0.1s ease-in-out forwards;
}

@keyframes focus {
  from {
    scale: 1;
  }
  to {
    scale: 1.1;
  }
}
