.lobby_content_container {
  margin: 1.5rem 0 0 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
}

.top_row {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.room_code_container {
  display: flex;
  column-gap: 0.3rem;
}

.room_code_container h2:last-child {
  color: #f87171;
}

.bottom_row {
  text-align: center;

  display: flex;
  flex-flow: column;
  row-gap: 4rem;
  margin-bottom: 10rem;
}

.bottom_row button {
  font-size: 1.2rem;
  font-weight: 600;
  /* border-color: #f87171;
  transition: background-color 0.2s, color 0.2s; */
}

.no_players_p {
  align-self: center;
}

.lobby_content_container h2 {
  font-size: 2.4rem;
}

.lobby_content_container h3 {
  font-size: 1.8rem;
  margin-top: 3rem;
  font-weight: 800;
}

.lobby_content_container ul {
  font-size: 1rem;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  row-gap: 1rem;
  width: 400px;
}

.faded_p {
  font-size: 1rem;
  color: #f87171;
}

.no_players_p {
  font-style: italic;
  animation: cycle-color 1.8s infinite;
}

.join_game_form {
  display: flex;
  align-items: center;
  column-gap: 2rem;
  margin: 5rem 0 0 0;
}

.input_container {
  position: relative;
  display: block;
}

.input_container::before {
  content: "Enter Name:";
  position: absolute;
  top: -1.4rem;
  left: 0;
  font-size: 1.2rem;
  font-weight: 500;
}

.join_game_form input {
  position: relative;
  font-size: 1.3rem;
  box-shadow: none;
  height: 35px;
  width: 200px;
  padding: 5px 15px;
}

.game_page_container {
  height: 100%;
  width: 100%;
}

@keyframes cycle-color {
  0% {
    color: #f87171;
  }
  15% {
    color: #f87171e1;
  }
  25% {
    color: #f87171ae;
  }
  35% {
    color: #f8717192;
  }
  50% {
    color: #f8717175;
  }
  65% {
    color: #f8717192;
  }
  75% {
    color: #f87171ae;
  }
  85% {
    color: #f87171e1;
  }
  100% {
    color: #f87171;
  }
}
