.profile_container {
  font-weight: 500;
  display: flex;
  flex-flow: column;
  align-items: center;
  position: relative;
  row-gap: 2rem;
}

.profile_container h2 {
  font-size: 2rem;
}

.game_records_ul {
  display: flex;
  justify-content: center;
}

.game_records_ul li {
  position: absolute;
  width: 450px;
  min-height: 200px;
  background-color: rgb(255, 252, 241);
  border: solid 2px #f87171;
  border-radius: 12px;
  padding: 1rem;
  transition: transform 0.1s, z-index 0.05s;
}

.slider_container {
  margin-top: 9rem;
}
