.form_container {
  margin-top: 0.3rem;
}

.form {
  display: flex;
  align-items: center;
  column-gap: 0.3rem;
}

.form button {
  font-size: 0.7rem;
  font-weight: 600;
  border-width: 3px;
  padding: 8px;
}
