.container {
  /* width: 100%; */
  column-gap: 1.5rem;
  /* margin-right: 3rem; */
}

.btns_container {
  display: flex;
  justify-content: flex-end;
  flex-flow: row;
  width: 100%;
  /* margin: 1rem 1rem 0 0; */
}
