.card {
  display: flex;
  flex-flow: column;
  align-items: center;
  row-gap: 1rem;
}

.the_day {
  font-weight: 500;
}

.compact_table {
  margin: 0.2rem 0;
  font-size: 0.6rem;
}

.compact_th,
.compact_td {
  padding: 7px 5px;
  border: 1px solid #f87171;
}

.compact_th {
  background-color: #374151;
  color: #fbe9d2;
}
