.profile_container {
  padding-top: 1rem;
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  flex-flow: column;
  align-items: center;
  position: relative;
  row-gap: 2rem;
  opacity: 1;
  transition: opacity 1s;
}

.username {
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  border-bottom: #f45e5e dotted 4px;
  padding-bottom: 2rem;
}

.username h2 {
  font-size: 2.6rem;
}

.username p {
  text-align: center;
  line-height: 1.3;
  width: 45%;
  font-style: italic;
}

.game_history_container {
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  row-gap: 2rem;
}

.game_history_header {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
}
.game_history_container h3 {
  grid-column: 2;
  text-align: center;
  padding: 0;
  font-size: 1.4rem;
  font-weight: 600;
}
.showcase_container {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  position: relative;
  row-gap: 3rem;
}

.display_btns {
  grid-column: 3;
  margin-right: 8rem;
  display: flex;
  justify-content: flex-end;
  column-gap: 0.5rem;
}

.display_btns button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px 10px;
}

.display_btns button:hover {
  background-color: #f45e5e;
  color: #fbe9d2;
}

.display_btns button.selected {
  background-color: #f45e5e;
  box-shadow: inset 3px 3px 4px 1px rgba(0, 0, 0, 0.4);
}

.list_container {
  display: flex;
  justify-content: flex-start;
  max-width: 420px;
  height: auto;
}

.game_records_ul_list {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  row-gap: 0.5rem;
}

.game_records_ul_showcase {
  display: flex;
  justify-content: center;
  margin-bottom: 15rem;
}

.game_records_ul_showcase li {
  position: absolute;
  width: 450px;
  min-height: 225px;
  background-color: rgb(255, 252, 241);
  border: solid 2px #f87171;
  border-radius: 12px;
  padding: 1rem;
  transition: transform 0.1s, z-index 0.05s;
}

.stats_section_container {
  display: flex;
  justify-content: center;
  width: 100%;
  border-top: #f87171 dotted 4px;
  padding: 2rem 0;
  margin-top: 2rem;
}

.stats_section {
  max-width: 420px;
  display: flex;
  flex-flow: column;
  align-items: center;
  row-gap: 1.4rem;
}

.stats_section_header {
  display: flex;
  flex-flow: column;
  row-gap: 0.4rem;
}

.stats_section h3 {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0;
  font-size: 1.4rem;
  font-weight: 600;
}

.filter_container {
  display: flex;
  flex-flow: column;
  align-items: center;
  row-gap: 0.2rem;
}

.filter_container p {
  font-style: italic;
}
.filter_btns {
  display: flex;
  column-gap: 0.3rem;
  justify-content: center;
}

.filter_btns button {
  font-size: 0.9rem;
  padding: 5px;
}

.stats_section ul {
  align-self: flex-start;
  display: flex;
  flex-flow: column;
  row-gap: 0.8rem;
}

.stats_section ul li {
  text-indent: -35.5px;
  padding-left: 35.5px;
}

.stats_section ul li::before {
  font-size: 1.3rem;
  content: "🏌️";
  padding-right: 0.2rem;
}

.back_btn {
  position: fixed;
  top: 50px;
  left: 60px;
  padding: 0.4rem 0.5rem 0.3rem 0.4rem;
  border: 2px #f87171 solid;
  border-radius: 50%;
  z-index: 1000;
}

.back_btn:hover {
  transition: background-color 0.3s, color 0.3s, padding-right 0.3s;
  background-color: #f87171;
  color: #fbe9d2;
  padding-right: 0.9rem;
  cursor: pointer;
}
