.parent {
  position: absolute;
  top: 56%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.child {
  font-weight: 400;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.waiting_player_hand {
  box-shadow: inset 0px 0px 1px 1000px rgba(248, 113, 113, 0.8),
    0px 0px 4px 20px rgba(248, 113, 113, 0.8);
}

.current_player_hand {
  animation: breathe 1.4s ease-in-out infinite alternate;
}

@keyframes breathe {
  from {
    box-shadow: inset 0px 0px 1px 1000px rgba(254, 240, 138, 0.8),
      0px 0px 4px 15px rgba(254, 240, 138, 0.8);
  }
  to {
    box-shadow: inset 0px 0px 1px 1000px rgba(254, 240, 138, 0.8),
      0px 0px 4px 20px rgba(254, 240, 138, 0.8);
  }
}

.hand {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.2rem;
  transform-style: preserve-3d;
}

.hand_header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 0.9rem;
  font-weight: 700;
  position: absolute;
  transform: translate(0%, -115%);
}

.hand_header p {
  font-family: "Nunito", serif;
  background-color: #e2d2bd;
  padding: 5px;
  border-radius: 8px;
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
}

.hand_header p.next_player {
  background-color: #f59e0b;
}

.hand_header button {
  height: 35px;
  width: 35px;
  line-height: 37px;
  padding: 0.2rem;
  border-radius: 50%;
  font-size: 0.8rem;
  font-weight: 800;
  border: none;
  color: #374151;
  background-color: #e11d47;
}

.hand_header button:hover {
  background-color: #e11d47 !important;
  /* background-color: #f87171; */
  box-shadow: inset 1px 1px 3px 1px rgba(0, 0, 0, 0.75);
}

.hand_header button:active {
  /* background-color: #fc8888; */
  box-shadow: inset 3px 3px 2px 2px rgba(0, 0, 0, 0.75);
}

.results_player_hands_container {
  padding: 2.5rem 1rem 1rem 1rem;
}

.results_player_hands {
  display: flex;
  flex-flow: row wrap;
  gap: 3rem;
}
