.home_page_container {
  width: 100%;
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  flex-flow: row;
}

.home_btns_container {
  height: 100vh;
  width: 100%;
  padding: 3rem 1.5rem;
  margin: 0 3rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: flex-end;
  box-sizing: border-box;
}

.home_btns_container button {
  display: inline-flex;
  align-items: center;
  height: 90px;
  font-size: 1.5rem;
  border-color: #f87171;
  transition: background-color 0.2s, color 0.2s;
}

.home_btns_container button:hover {
  /* background-color: #ef1f4c; */

  color: #f87171;
  background-color: #fbe9d2;
}

.home_btns_container button:focus,
button:focus-visible {
  outline: 5px auto -webkit-focus-ring-color;
}

.title {
  font-family: "Nunito", sans-serif;
  font-size: 12rem;
  position: absolute;
  left: 10%;
  top: 200px;
}

.home_row_1 {
  width: 100%;
  display: flex;
  /* column-gap: 1.5rem; */
  /* justify-content: flex-end; */
  justify-content: space-between;
  align-items: center;
}

.info_btn {
  cursor: pointer;
}

.home_row_2 {
  height: 250px;
  display: flex;
  flex-flow: column;
  align-items: flex-end;
  justify-content: space-between;
}

.join_lobby_form {
  display: flex;
  align-items: center;
  column-gap: 2rem;
}

.input_container {
  position: relative;
  display: block;
}

.input_container::before {
  content: "Lobby Code:";
  position: absolute;
  top: -2rem;
  left: 0;
  font-size: 1.4rem;
  font-weight: 500;
}

.join_lobby_form input {
  position: relative;
  font-size: 1.3rem;
  height: 70px;
  padding: 5px 15px;
}

.join_lobby_form input:focus {
  box-shadow: 0 0 12px #f87171;
}

.lobby_page_container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column;
  align-items: center;
}
