<!DOCTYPE html>
<html>
<head>
  <title>Golf</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "devise", "data-turbo-track": "reload" %>

</head>
<body>
  <p>Layout: application.html.erb</p>

  <%= yield %>
</body>
</html>