<!DOCTYPE html>
<html>
<head>
  <title>Golf</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <style>

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* prettier-ignore */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  height: 100%;
  width: 100%;
  color: #374151;
  background-color: #fbe9d2;
}

h2 {
  font-size: 2.2rem;
  margin: 1.5rem 0;
  font-weight: bold;
}

h2,
p {
  padding: 0.2rem;
}

a {
 color: #f87171; 
 text-align: left;
}

a:hover,
a:focus,
a:focus-visible,
a:active {
  color: #ff0000;

}

input {
  margin-top: .4rem;
}

input[type=text],
input[type=password] {
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0);
  border: #f87171 solid 4px;
  color: #374151;
  border-radius: 6px;
  padding: 5px;
}

input[type=text]:focus,
input[type=password]:focus {
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=checkbox] {
  background-color: #fbe9d2;
}

input[type=submit],
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  border: #f87171 solid 4px;
  background-color: #f87171;
  color: #fbe9d2;
  transition: background-color 0.2s, color 0.2s;
}

input[type=submit]:hover,
button:hover {
  color: #f87171;
  background-color: #fbe9d2;
}

input[type=submit]:focus,
input[type=submit]:focus-visible,
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.page-container {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.new_user {
  display: flex;
  justify-content: center;
  flex-flow: column;
  row-gap: 1rem;
  margin-bottom: .5rem;
}


  </style>
</head>
<body>
  <%= yield %>
</body>
</html>